body{
  background-color: #d2cada;
  padding: 10px;
}

h1{
  color: #60588f;;
}
.final{
  text-align: center;
}

.btn{
  border-style: none;
  outline: none;
}

table{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 800px;
  height: 200px;
  border: 1px solid #60588f;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2) ;
  ;
}

tr {
  background-color: #cfc9ee;;
  transition: all .2s ease-in;
  cursor: pointer;
}

th,td {
        padding: 12px;
        text-align: center;
        border: 1px solid #60588f;
}
th{
  font-size: 30px;
}
#header {
  background-color: #60588f;
  color: #fff;
}
tr:hover {
  background-color: #f5f5f5;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  table {
      width: 90%;
  }
}

input{
  border: none;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  outline: none;
}

.btn{
  font-size: 20px;
  width: 150px;
  height: 45px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  background-color: transparent;
  color: #60588f;
  border: 2px solid #60588f;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.5 ease;
}

.btn:hover{
  background-color: #60588f;
  color: white;
}

p{
  color: black;
  font-family: 'Montserrat', sans-serif;
}
